


.recharts-responsive-container {
    background-color: #fff;
}

.recharts-cartesian-axis-line, .recharts-yAxis, .recharts-cartesian-axis-tick-line {
    display: none;
}

.graph {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 20px rgb(240, 237, 237);
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 50px;
}

.graph-mask{
    width : 100%;
    height: 420px;
    position: relative;
    left: -30px;
}

.graph-label {
    margin-right: 0!important;
    margin-left: 0!important;
    border-top: thin solid #f2f1f0;
}

.graph-label .x-axis-tick {
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
    color: #b5b3b1;
    font-weight: 500;
}

.graph-nav {
    display: flex;
}

.graph-nav span {
    padding : 15px 20px;
    color: #7a7979;
    cursor: pointer;
}

.graph-nav span.active {
    color: #27323f;
    font-weight: 700;
}